ansible==2.2.1.0
appdirs==1.4.2
awscli==1.11.56
boto==2.46.1
botocore==1.5.19
cffi==1.9.1
colorama==0.3.7
cryptography==1.7.2
docutils==0.13.1
idna==2.4
Jinja2==2.8.1
jmespath==0.9.1
MarkupSafe==0.23
packaging==16.8
paramiko==2.1.2
pyasn1==0.2.3
pycparser==2.17
pycrypto==2.6.1
pyparsing==2.2.0
python-dateutil==2.6.0
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
