[Unit]
Description=Deployer
After=docker.service
Requires=docker.service

[Service]
Environment="DOCKER_APP_VERSION=service-files-metadata"
TimeoutStartSec=0
Type=oneshot
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill %p > /dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm %p > /dev/null 2>&1'
ExecStartPre=/usr/bin/docker pull coco/coco-fleet-deployer:$DOCKER_APP_VERSION
ExecStart=/bin/bash -c "\
  SERVICE_DEFINITION_LOCATION=$(etcdctl get /ft/config/service-definition-location); \
  docker run --rm --name %p --env=\"FLEET_ENDPOINT=http://$HOSTNAME:49153\" --env=\"SERVICES_DEFINITION_FILE_URI=$SERVICE_DEFINITION_LOCATION\" --env=\"DESTROY=true\" coco/coco-fleet-deployer:$DOCKER_APP_VERSION"
