#cloud-config

coreos:
  update:
    reboot-strategy: best-effort
  etcd2:
    # generate a new token for each unique cluster from https://discovery.etcd.io/new?size=3
    discovery: {{token}}
    # multi-region and multi-cloud deployments need to use $public_ipv4
    advertise-client-urls: http://$private_ipv4:2379,http://$private_ipv4:4001
    initial-advertise-peer-urls: http://$private_ipv4:2380
    # listen on both the official ports and the legacy ports
    # legacy ports can be omitted if your application doesn't depend on them
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://$private_ipv4:2380,http://$private_ipv4:7001
  fleet:
    # allow etcd to slow down at times
    etcd_request_timeout: 3.0
    metadata: host_type=persistent,persistent_tag=1
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
    - name: makefs.service
      command: start
      content: |
        [Unit]
        Before=vol.mount
        [Service]
        Type=oneshot
        ExecStart=/bin/bash -c "/usr/sbin/fsck /dev/xvdf || /usr/sbin/mkfs.ext4 /dev/xvdf"
        ExecStart=/bin/bash -c "/usr/bin/test -e /vol || /usr/bin/mkdir /vol"
    - name: vol.mount
      command: start
      content: |
        [Mount]
        What=/dev/xvdf
        Where=/vol
        Type=ext4
write_files:
  - path: /etc/systemd/system/fleet.socket.d/30-ListenStream.conf
    content: |
      [Socket]
      ListenStream=0.0.0.0:49153
  - path: /etc/systemd/system/docker.service.d/mirror.conf
    content: |
      [Service]
      Environment="DOCKER_OPTS=--insecure-registry={{insecure_registry}}"
  - path: /etc/motd.d/env.conf
    content: |
            This enviroment is tagged as {{environment_tag}} and is cluster {{token}}
{% include 'ssh_authorized_keys.yaml' %}

