{
        "upp-prod-publish-eu": {
                "issuer": "https://upp-prod-publish-eu-dex.ft.com",
                "redirectUrl": "https://upp-prod-publish-eu-dex-redirect.ft.com/callback",
                "loginSecret": "{{ upp-prod-publish-eu }}",
                "aliases": ["upp-prod-publish-eu", "uppe"]
        },
        "upp-prod-publish-us": {
                "issuer": "https://upp-prod-publish-us-dex.ft.com",
                "redirectUrl": "https://upp-prod-publish-us-dex-redirect.ft.com/callback",
                "loginSecret": "{{ upp-prod-publish-us }}",
                "aliases": ["upp-prod-publish-us", "uppu"]
        },
        "upp-prod-delivery-eu": {
                "issuer": "https://upp-prod-delivery-eu-dex.ft.com",
                "redirectUrl": "https://upp-prod-delivery-eu-dex-redirect.ft.com/callback",
                "loginSecret": "{{ upp-prod-delivery-eu }}",
                "aliases": ["upp-prod-delivery-eu", "upde"]
        },
        "upp-prod-delivery-us": {
                "issuer": "https://upp-prod-delivery-us-dex.ft.com",
                "redirectUrl": "https://upp-prod-delivery-us-dex-redirect.ft.com/callback",
                "loginSecret": "{{ upp-prod-delivery-us }}",
                "aliases": ["upp-prod-delivery-us", "updu"]
        },
	    "pac-prod-eu": {
                "issuer": "https://pac-prod-eu-dex.ft.com",
                "redirectUrl": "https://pac-prod-eu-dex-redirect.ft.com/callback",
                "loginSecret": "{{ pac-prod-eu }}",
                "aliases": ["pac-prod-eu", "ppe"]
        },
        "pac-prod-us": {
                "issuer": "https://pac-prod-us-dex.ft.com",
                "redirectUrl": "https://pac-prod-us-dex-redirect.ft.com/callback",
                "loginSecret": "{{ pac-prod-us }}",
                "aliases": ["pac-prod-us", "ppu"]
        }
}
